<h1>Products#index</h1>

<table>
  <thead>
    <th>No</th>
    <th>Name</th>
    <th>Price</th>
  </thead>
  <tbody>
    <%= @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.product_name %></td>
      <td><%= product.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>